{% extends 'app/base.html' %}
{% load static %}


{% block titulo %}
    Blancos
{% endblock titulo %}
    
{% block cabecera %}
    Listado de vinos blancos
{% endblock cabecera %}
    

{% block contenido %}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>

    {% for curso2 in db %}
    <tr>
        <td>{{ curso2.id }}</td>
        <td>{{ curso2.nombre }}</td>
        <td>{{ curso2.precio }}</td>
    </tr>
    {% endfor %}


 </tbody>
</table>

{% endblock contenido %}