<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso de vino tinto</title>
</head>
<body>
    
    <h2>Ingresar vino tinto</h2>
    <form action="" method="post">
        {% csrf_token %}
        <p>Nombre:<input type="text" name="nombre" id="nombre"></p>
        <p>Precio:<input type="number" name="precio" id="precio"></p>
        <input type="submit" vale="Enviar">
    </form>
</body>
</html>