{% extends 'app/base.html' %}
{% load static %}


{% block cabecera %}
  Precio {{ precio }}  
{% endblock cabecera %}
    

{% block contenido %}
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
    
        {% for curso in db %}
        <tr>
            <td>{{ curso.id }}</td>
            <td>{{ curso.nombre }}</td>
            <td>{{ curso.precio }}</td>
        </tr>
        {% endfor %}
    
    
     </tbody>
    </table>

{% endblock contenido %}