{% extends 'app/base.html' %}
{% load static %}


{% block titulo %}
    Tintos
{% endblock titulo %}
    
{% block cabecera %}
    Listado de vinos tintos
{% endblock cabecera %}
    

{% block contenido %}

<form action="/app/buscar2" method="get">
    {% csrf_token %}
    <input type="text" name="precio" id="precio">
    <input type="submit" value="Buscar">
</form>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>

    {% for curso in db %}
    <tr>
        <td>{{ curso.id }}</td>
        <td>{{ curso.nombre }}</td>
        <td>{{ curso.precio }}</td>
    </tr>
    {% endfor %}


 </tbody>
</table>

{% endblock contenido %}




